.content
  .container
    %h1 Messages#index
    %p Find me in app/views/messages/index.html.haml
      - @incomings.each do |incoming|
        = incoming.user.name
        = incoming.question
        %p Answers so far
        - incoming.answers.each do |a|
          = a.answer
        %form{:action => "/send_message", :method => "post"}
          %input{:name => "to", :placeholder => "to-number", :type => "hidden", :value => incoming.user.phone_number}/
          %input{:name => "question_id", :placeholder => "to-number", :type => "hidden", :value => incoming.id}/
          %textarea{:name => "message", :placeholder => "message", :type => "text"}
          %input{:type => "submit", :value => "send"}/
