.content
  %ul
    - @users.each do |user|
      %li= user.username
      %li= current_user.follow_link(user)
      - user.countries.each do |country|
        %li=country.name 
        %li= current_user.follow_link(country)
