.content
  .container
    %ul
      - @users.each do |user|
        %li= user.name
        %li= current_user.follow_link(user)
        - user.countries.each do |country|
          %ul
            %li=country.name 
            %li= current_user.follow_link(country)
