.content
  .container
    .form-effects.form-margins
      .row.photo
        .offset1.span11
          %h2=@user.name
        .offset1.span3
          =image_tag avatar_url(@user), :class => "img-polaroid"
        .span7.profile
          %table.table
            %tr.info
              %th Basic Info
              %th.align-right
                - if can? :update, @user.profile
                  =link_to "Edit", edit_profile_path(@user.profile)
            %tr
              %td Last login: 
            %tr
              %td Status:
              =@user.status
            %tr
              %td Location:
              =@user.profile.location
            %tr  
              %td Bio:
              =@user.profile.bio
      .row
        .offset1.span10
          Countries of service:
          -unless @user.involvements.empty?
            -@user.involvements.each do |i|
              %ul
                %hr
                %li=i.country.name if i.country
                %li=i.description
                %li=i.sector
                %li=i.start_date
                %li=i.end_date
                - if can? :update, i
                  %li=link_to "Edit", edit_involvement_path(i), :class => "btn btn-primary"
        .offset10
          - if can? :create, Involvement
            =link_to "Add", new_involvement_path, :class => "btn btn-primary"
