.content
  .container
    .form-effects
      .row.photo
        .offset1.span5
          %h2=@user.name
          =image_tag(@user.photo)
        .span5.profile
          %p 
            Last login:
            Status:
            =@user.status
            Location:
            -if @user.profile
              =@user.profile.location
              Bio:
              =@user.profile.bio
      .row
        .offset1.span10
          Coutries of service:
          -unless @user.involvements.empty?
            =@user.involvements.each do |i|
              =i.country
              =i.description
              =i.sector
              =i.start_date
              =i.end_date
