.content
  .container
    .form-effects.user-profile
      .row.photo
        .offset1.span11
          %h2=@user.name
        .offset1.span5
          =image_tag(@user.photo)
        .span5.profile
          %ul
            %li
              Last login:
            %li 
              Status:
              =@user.status
            %li 
              Location:
              =@user.profile.location
            %li 
              Bio:
              =@user.profile.bio
            %li
              =link_to "Edit", edit_profile_path(@user.profile), :class => "btn btn-primary"
      .row
        .offset1.span10
          Coutries of service:
          -unless @user.involvements.empty?
            -@user.involvements.each do |i|
              %ul
                %li=i.country
                %li=i.description
                %li=i.sector
                %li=i.start_date
                %li=i.end_date
        .pull-right
          =link_to "Add", new_involvement_path, :class => "btn btn-primary"
