#stephen-modal.modal.hide.fade.profile-modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Stephen Nguyen
  .modal-body.profile-body.container-fluid
    .upper-half.row-fluid
      .headshot-box.span5
        =image_tag "stephen-nguyen-headshot.png", {:class => "member-headshot"}
      .details-box.span7
        %h5 Info:
        %ul
          %li
            %span.subject Hometown:
            %span.detail Chantilly, Virginia
          %li
            %span.subject Education:
            %span.detail Virginia Commonwealth University / Dev Bootcamp
          %li
            %span.subject Known for:
            %span.detail Weird analogies & designing fancy about us pages
        =link_to image_tag("github.png", {:class => "logo"}), "http://github.com/stephenitis"
        =link_to image_tag("linkedin.png", {:class => "logo"}), "http://linkedin.com/in/stephenhnguyen/"
    .row-fluid
      .bios-box
        %p I've spent my education, sweat, and time devoted to making a impact on my world. Born in a loving middle class family in suburban Virginia, I have developed a profound passion for community service, a respect for science, and a drive to help solve relevant problems in the world through what ever means possible. I am a rubyist who is working towards becoming a full stack web developer in short time. I’m apart of the Spring 2013 Cohort at Dev Bootcamp in San Francisco, California. My more reflective and sometimes quirky blog sits over at <a href="www.WhereIsStephen.com">www.whereisstephen.com</a>
