%body
  .about-container
    .team-box
      .div.member-profile
        =link_to image_tag("fab.png", {:class => "team-member"}), "#fab-modal", {"data-toggle" => "modal"}
      .div.member-profile
        =link_to image_tag("sam.png", {:class => "team-member"}), "#sam-modal", {"data-toggle" => "modal"}
      .div.member-profile
        =link_to image_tag("stephen.png", {:class => "team-member"}), "#stephen-modal", {"data-toggle" => "modal"}
      .div.member-profile
        =link_to image_tag("sidney.png", {:class => "team-member"}), "#sidney-modal", {"data-toggle" => "modal"}
    %h1 Team Wezolo
  .container.marketing.top-spacer.story
    %h2 Our Story
    %p Dev Bootcamp is hard but Africa is harder. Sam Samskies along with a team of bright engineers embarked on a ridiculous journey to build Wezolo, a platform where you can live the Peace Corps life. Twilio yo self.
  .container.marketing.top-spacer.story
    %h2 The Team
    %p Deep in the darkest corners of DBC... When the hour is latest. There lies a Team of badassery that few have witnessed. The Peace Mafia was created in response to the evil and the darkness that seeks to prevail over the world. With our powers we will change the world. seriously.
    %footer.top-spacer
      %p.pull-right
      %a{:href => "#"} Back to top
      %p© 2013 Peace Mafia ·
      %a{:href => "#"} Privacy
      %a{:href => "#"} Terms
      %a{:href => "mailto:nguyenhstephen"} email us


#fab-modal.modal.hide.fade.profile-modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Fab Mackojc
  .modal-body
    =image_tag "fab.png"
    Deep in the darkest corners of DBC... When the hour is latest. There lies a Team of badassery that few have witnessed. The Peace Mafia was created in response to the evil and the darkness that seeks to prevail over the world. With our powers we will change the world. seriously.
#sam-modal.modal.hide.fade.profile-modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Steven "Sam Samkies" Miyakawa
  .modal-body
    This is information about Steven
    =image_tag "sam.png"
    Deep in the darkest corners of DBC... When the hour is latest. There lies a Team of badassery that few have witnessed. The Peace Mafia was created in response to the evil and the darkness that seeks to prevail over the world. With our powers we will change the world. seriously.
#sidney-modal.modal.hide.fade.profile-modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sidney Zahng is cool
  .modal-body
    This is information about Sidney
    =image_tag "sidney.png"
#stephen-modal.modal.hide.fade.profile-modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Stephen Nguyen
  .modal-body
    This is information about Stephen
    =image_tag "stephen.png"
    Deep in the darkest corners of DBC... When the hour is latest. There lies a Team of badassery that few have witnessed. The Peace Mafia was created in response to the evil and the darkness that seeks to prevail over the world. With our powers we will change the world. seriously.
