%body
  .about-container
    %h1 Team Wezolo
    .div.member-profile
      =image_tag "fab.png", {:class => "team-member"}
    .div.member-profile
      =image_tag "sidney.png", {:class => "team-member"}
    .div.member-profile
      =image_tag "sam.png", {:class => "team-member"}
    .div.member-profile
      =image_tag "stephen.png", {:class => "team-member"}
  .container.marketing.top-spacer.story
    %h2 Our Story
    %p Dev Bootcamp is hard but Africa is harder. Sam Samskies along with a team of bright engineers embarked on a ridiculous journey to build Wezolo, a platform where you can live the Peace Corps life. Twilio yo self.
  .container.marketing.top-spacer.story
    %h2 The Team
    %p Deep in the darkest corners of DBC... When the hour is latest. There lies a Team of badassery that few have witnessed. The Peace Mafia was created in response to the evil and the darkness that seeks to prevail over the world. With our powers we will change the world. seriously.
    %footer.top-spacer
      %p.pull-right
      %a{:href => "#"} Back to top
      %p© 2013 Peace Mafia ·
      %a{:href => "#"} Privacy
      %a{:href => "#"} Terms
      %a{:href => "mailto:nguyenhstephen"} email us
