.content
  .container.green-full-width.Sign.In
    .form-effects.form-margins
      .offset1
        %h1 Edit involvement
        = render :partial => "involvements/form", :locals => {:involvement => @involvement}
        
