.content
  .container.green-full-width.Sign.In
    .form-effects.form-margins
      .row.offset1
        %h2 Add Service Details
        = render :partial => "involvements/form", :locals => {:involvement => @involvement}
      
