// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile li {
  list-style-type: none;
}

.table tbody tr.info th {
  background-color: #d9edf7;
}

.table td {
  border: 0;
}

th.align-right {
  text-align: right;
}
