.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        = link_to "Wezolo", root_path, :class => "brand"
        %ul.nav
          %li.active
            =link_to "Home", home_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Dropdown
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li.nav-header Nav header
              %li
                %a{:href => "#"} Separated link
              %li
                %a{:href => "#"} One more separated link
          %li.signin.pull-right
            - unless current_user
              =form_tag login_path, :method => :post do
                = email_field_tag :email
                = password_field_tag :password
                = submit_tag "Sign in"
            - else
              =link_to "Log out", logout_path, :method => :delete
          %li.search
            =form_tag search_results_path, :method => :get, :class => "form-search" do
              .input-append
                =text_field_tag "search", nil,:class => "search-query-8 span2 small search-query search-query-rounded", :placeholder => "Search"
                %button.btn.btn-small{:type => "submit"}
                  %span.fui-search
