.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        %a.brand{:href => "#"} Project name
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#contact"} Contact
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Dropdown
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li.nav-header Nav header
              %li
                %a{:href => "#"} Separated link
              %li
                %a{:href => "#"} One more separated link
          %li.signin.pull-right
            - unless current_user
              =form_tag login_path, :method => :post do
                = email_field_tag :email
                = password_field_tag :password
                = submit_tag "Sign in"
            - else
              =link_to "Log out", logout_path, :method => :delete
