.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        -if current_user
          = link_to "Wezolo", home_path, :class => "brand"
        - else
          = link_to "Wezolo", root_path, :class => "brand"
        %ul.nav
          %li.signin.pull-right
            - unless current_user
              =link_to "Log in", "#loginModal", {"data-toggle" => "modal"}

            - else
              =link_to "Log out", logout_path, :method => :delete
          - if current_user
            %li.search.pull-right
              =form_tag search_results_path, :method => :get, :class => "form-search" do
                .input-append
                  =text_field_tag "search", nil,:class => "search-query-8 span2 small search-query search-query-rounded", :placeholder => "Search Countries"
                  %button.btn.btn-small{:type => "submit"}
                    %span.fui-search.fui-icons-h
